doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- link(rel='stylesheet', href='stylesheets/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		
		link(rel='stylesheet', href='assets/js/bxslider/jquery.bxslider.css')
		link(rel='stylesheet', href='assets/css/main.css')
		//-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
	body
		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->
		//- Add your site or application content here
		.coontainer-fluid
			.container
				.row
					.col-xs-12.visible-sm-block.visible-xs-block
						h1
							img.img-responsive(src="assets/img/logo_elnara_kirasawa.png" alt="Elnara Kirasawa")
					.col-xs-12.col-md-4.animation
						section.animattion-position
							ul.bxslider
								li: img.img-responsive(src="assets/img/model01.jpg" alt="model 01")
								li: img.img-responsive(src="assets/img/model02.jpg" alt="model 02")
								li: img.img-responsive(src="assets/img/model03.jpg" alt="model 03")
								li: img.img-responsive(src="assets/img/model04.jpg" alt="model 04")
					.col-xs-12.col-md-8.eventinfo
						section.info-event
							h1.hidden-xs.hidden-sm
								img(src="assets/img/logo_elnara_kirasawa.png" alt="Elnara Kirasawa")
							p.definition: strong Upcoming event
							h1.myColletction Cocoon collection
							small by Elnara Kirasawa at
							h2.event-title
								| Milan women fashion show
							small.event-subtitle Fall / winter 16/17
							br
							p Cocktail and evening dresses, dance after the show.
							hr
							.row
								.col-xs-6
									h4 Date
									
									time(datetime="2008-02-14 20:00") Thursday February 25, 2016, at 7:30 p.m.
									p
										| By reservation only: 
										a(href="") elnarakirasawa@gmail.com
								.col-xs-6
									h4 Place
									
									h5
										| Bobino Club
										small: address Alzaia Naviglio Grande 116 Milano
										a.btn.btn-default(href="https://www.google.it/maps/place/Bobino+Club+Milano/@45.4488207,9.1572663,17z/data=!4m6!1m3!3m2!1s0x4786c157aaaaaaab:0x3e21f9feed975d3!2sBobino+Club+Milano!3m1!1s0x4786c157aaaaaaab:0x3e21f9feed975d3?hl=en") see the map



		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
		//-script(src='javascripts/plugins.js')
		script(src="assets/js/bxslider/jquery.bxslider.min.js")
		script(src="assets/js/bxslider/bxslider.js")

		//-script(src='javascripts/script.js')

		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		//-
			script
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');