doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- link(rel='stylesheet', href='stylesheets/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
		
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='stylesheet', href='assets/css/jquery.bxslider.css')
		//-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
	body
		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->

		//- Add your site or application content here
		.animation
			.animation-position
				ul.bxslider
					li: img(src="assets/img/model01.jpg" alt="model 01")
					li: img(src="assets/img/model02.jpg" alt="model 02")
					li: img(src="assets/img/model03.jpg" alt="model 03")
					li: img(src="assets/img/model04.jpg" alt="model 04")
		.content
			.eventinfo
				h1
					img(src="assets/img/logo_elnara_kirasawa.png" alt="Elnara Kirasawa")
				p: strong Upcoming event
				h1 Milan women fashion show
				time(datetime="2008-02-14 20:00") Thursday February 25, 2016, at 7:30 p.m.
				h3 Bobino Club
				address - Alzaia Naviglio Grande 116 Milano



		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
		//-script(src='javascripts/plugins.js')
		script(src="assets/js/bxslider/jquery.bxslider.min.js")
		script(src="assets/js/bxslider/bxslider.js")

		//-script(src='javascripts/script.js')

		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		//-
			script
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','UA-XXXXX-X');ga('send','pageview');